
	body {
		text-shadow: none;  
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-top:  0%;

		background-color: white;
		background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
		background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

		background-image: url("tile.png");
  		background-repeat: repeat;
	}

	title_text_shadow {
		text-shadow: #969696 1px 3px 0, #aba8a8 1px 13px 5px;
	}

	iframe {
		border-radius: 1em;
	}
	
	.myButton {
		background-color:#ff6f00;
		border-radius:28px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
		color:#ffffff;
		font-family:Arial;
		font-size:17px;
		padding:16px 31px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
	}

	.myButton:hover {
		background-color:#ffaa00;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}

	button_style {
		background-color:rgb(255, 127, 42);
		border: 5px solid rgb(200, 80, 31);
		padding: 0.5em;
		border-radius: 0.5em;
		font-size: 1em;
		text-decoration: none;
		color: black;
	}

	label_title_style {
		background-color:rgb(255, 127, 42);
		border: none;
		padding: 0.1em;
		border-radius: 20.0em;
		font-size: 1em;
		text-decoration: none;
		color: black;
	}

	text_frame {
 
		font-size: 1em;
		 
		 

		text-shadow: 0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
		0 20px 20px rgba(0,0,0,.15);
	}

	text_frame2 {
		background-color:rgb(204, 86, 7);
		border: none;
		padding: 0.2em;
		border-radius: 20.0em;
		font-size: 0.9em;
		text-decoration: none;
		color: black;
	}

	txt {
		background-color:none;
		border: none;
		padding: 0.0em;
		border-radius: 0.0em;
		font-size: 0.8em;
		text-decoration: none;
		color: black;
	}

	txt_w_spacing {
		background-color:none;
		border: none;
		padding: 5.0em;
		border-radius: 0.0em;
		font-size: 0.8em;
		text-decoration: none;
		color: black;
	}

	just_padding {
		padding: 3.0em;
	}

	just_spacing {
		padding-left: 20px;
	}

	.team_frame{
        position: relative;
        display: inline-block;  

    }
    .team_frame.text{
        position: absolute;
		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
        
    }

	skmp_padding {
		padding-left: 20px;
	}

	orf_padding {
		padding-left: 35px;
	}

	div_padding {
		padding-left: 30px;
	}

	kama_padding {
		padding-left: 5px;
	}

	paul_padding {
		padding-left: 50px;
	}

	skmp_padding2 {
		padding-right:  0px;
	}

	orf_padding2 {
		padding-left: 10px;
	}

	div_padding2 {
		padding-right: 0px;
	}

	kama_padding2 {
		padding-left: 5px;
	}

	paul_padding2 {
		padding-right:35px;
	}
	